.console {
    width: 100%;
}

.console__list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    min-height: fit-content;
}

.console__item {
    position: absolute;
    bottom: -5rem;
    right: 0;
    transition: 0.3s ease-in-out; 
}

.console__btn {
    padding: calc(var(--sm-padding) / 2);
    background: #151515;
    color: var(--clr-light-green);
    border: solid 0.1em transparent;
    border-color: var(--clr-light-green);
    border-radius: var(--border-radius);
    aspect-ratio: 1 / 1;
    transition: 0.3s ease-in-out;
    outline: none;
}

.console__btn:focus,
.console__btn:hover {
    box-shadow: 0 0 0.4rem var(--clr-light-green);
}

.console__btn i {
   width: 1.6rem; 
}

.staticIcon {
    transform: rotate(0);
    transition: 0.3s ease-in-out;
}

.rotateIcon {
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
}

.openItemOne {
    right: 72px;
}

.openItemTwo {
    right: 144px;
}

.openItemThree {
    right: 144px;
    bottom: -150px;
}

.openItemFour {
    right: 72px;
    bottom: -150px;
}