.hero {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), #000000), url('/assets/images/coins_md.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding-block: 180px;
}

.hero__container {
    
}