.info {
    padding-block: calc(var(--xs-padding) / 4);
    color: var(--clr-dark);
    background: var(--clr-light-green);
}

.info__container {
    display: flex;
    justify-content: center;
}

.info__heading{
    display: flex;
    align-items: center;
    gap: var(--xs-margin);
}