.select {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--sm-margin);
    padding: var(--xs-padding);
    outline: none;
    max-width: 100%;
    min-height: 1.5em;
    border: solid 0.06em transparent;
    border-color: var(--clr-light-green);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    text-overflow: ellipsis;
}

.select:focus {
    box-shadow: 0 0 0.4rem var(--clr-light-green);
}

.select__value {
    flex-grow: 1;
}

.select__clear {
    background: none;
    color: var(--clr-light-green);
    border: none;
    outline: none;
    font-size: 1.25em;
}

.select__divider {
    background: rgba(255, 255, 255, 0.1);
    align-self: stretch;
    width: 0.1em;
}

.select__caret {
    translate: 0 25%;
    border: solid 0.25em transparent;
    border-top-color: var(--clr-light-green);
} 

.select__options {
    position: absolute;
    list-style: none;
    display: none;
    max-height: 8em;
    overflow-y: auto;
    width: 100%;
    left: 0;
    top: calc(100% + 0.25em);
    border: solid 0.06em transparent;
    z-index: 99;
    background: var(--clr-dark);
    border-color: var(--clr-light-green);
    border-radius: 5px;
}

.select__options.show {
    display: block;
    cursor: pointer;
}

.select__option {
    padding: 0.25em 0.5em;
}

.select__option.selected {
    color: var(--clr-dark);
    background: rgba(194, 245, 129, 0.5);
}

.select__option.highlighted {
    color: var(--clr-dark);
    background: var(--clr-light-green);
}