:root {
    --font-poppins: "Poppins", sans-serif;

  /* Colors */
  --clr-dark: #090909;
  --clr-white: #ffffff;
  --clr-light-green: #C2F581;

  /* Padding */
  --xs-padding: 12px;
  --sm-padding: 24px;
  --md-padding: 36px;
  --lg-padding: 48px;
  --xl-padding: 64px;

    /* Margin */
  --xs-margin: 12px;
  --sm-margin: 24px;
  --md-margin: 36px;
  --lg-margin: 48px;
  --xl-margin: 64px;

  /* Border radius */
  --border-radius: 5px;
}

* {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-dark);
  color: var(--clr-white);
  width: 100vw;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--xl-padding);
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

::-moz-selection { /* Code for Firefox */
  color: var(--clr-dark);
  background: var(--clr-light-green);
}

::selection {
  color: var(--clr-dark);
  background: var(--clr-light-green);
}

.container {
  max-width: 992px;
  width: calc(100% - 48px);
  margin-inline: 24px;
}

.modalOpen {
  /*position: fixed;*/ 
  height: 100vh;
  overflow-y: hidden;
}

.transparent {
  background: rgba(15, 15, 15, 0.4) !important;
  backdrop-filter: blur(5px);
  box-shadow: 0 0.05rem 0.2rem var(--clr-light-green) !important;
  transition: 0.3s ease-in-out;
}

.highlight__obj {
  color: var(--clr-light-green);
}

/*
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/