.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #151515;
    color: var(--clr-white);
    padding: var(--sm-padding) var(--md-padding);
    min-width: 60%;
    max-width: 70%;
    max-height: 90%;
    border: solid 0.02rem rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    opacity: 0;
    transition: 0.5s ease;
}

.transmute {
    opacity: 1;
}

@media only screen and (min-width: 678px) {
    .dialog {
        min-width: 40%;
    }
}

@media only screen and (min-width: 992px) {
    .dialog {
        min-width: 30%;
    }
}

.dialog__container {
    display: flex;
    flex-direction: column;
    gap: var(--md-margin);
}

.dialog__container form {
    display: flex;
    flex-direction: column;
    gap: var(--sm-margin);
}

.dialog__footer {
    display: flex;
    justify-content: center;
    padding-block: var(--xs-padding);
    border-top: solid 0.05rem var(--clr-light-green);
}

.dialog::backdrop {
    background: rgba(15, 15, 15, 0.5);
    backdrop-filter: blur(3px);
}

.dialog__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--xs-margin);
    background: none;
    color: var(--clr-white);
    border: none;
    outline: none;
    border: solid 0.06em transparent;
    border-color: var(--clr-light-green);
    border-radius: 5px;
    padding: var(--xs-padding);
    transition: 0.3s ease-in-out;
}

.dialog__btn:focus,
.dialog__btn:hover {
    box-shadow: 0 0 0.4rem var(--clr-light-green);
}

.dialog__submit {
    margin-top: calc(8em + var(--sm-margin));
}
