.footer__container {
    display: flex;
    flex-direction: column;
    gap: var(--xs-margin);
}

.footer__top,
.footer__middle,
.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--sm-margin);
    padding-block: var(--md-padding);
}

.footer__top,
.footer__middle {
    border-bottom: solid 0.05rem var(--clr-light-green);
}

.footer__middle a {
    display: flex;
    flex-direction: column;
    gap: var(--sm-margin);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--clr-light-white);
}

.footer__bottom {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 481px) {
    .footer__bottom  {
        justify-content: center;
    }
}

.footer__bottom span {
    color: var(--clr-light-green);
}

.footer__logo {
    width: 100%;
    max-width: 60px;
    user-select: none;
}