.showcase {}

.showcase__container {}

.cards {
    display: flex;
    gap: var(--xs-margin);
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    overflow-x: auto;
    padding: var(--sm-padding);
    border-radius: var(--border-radius);
}

.card__wrapper {
    scroll-snap-align: start;
    width: 100% !important;
    min-width: 240px;
    max-width: 240px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--sm-margin);
    background: #151515;
    padding: var(--sm-padding);
    border-radius: var(--border-radius);
}

.card__body {
    display: grid;
    gap: var(--xs-padding);
}

.card__title,
.card__currency {
    display: flex;
    align-items: center;
    gap: var(--xs-margin);
}

.card__tag {
    color: #777;
}

.card__footer {
    border-top: solid 0.01em #777;
    padding-top: var(--xs-padding);
    margin-top: auto;
}

.card button {
    display: flex;
    align-items: center;
    gap: calc(var(--xs-margin) / 2);
    outline: none;
    border: none;
    background: none;
    color: #777;
}

.card i {
    color: var(--clr-light-green);
}