.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: var(--xs-padding);
    background:  rgba(8, 8, 8, 1);
    transition: 0.3s ease-in-out;
    z-index: 1;
    border-bottom: none;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}