.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--xs-margin);
}

.contacts__item a {
    color: var(--clr-white);
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.contacts__item a:hover {
    color: var(--clr-light-green);
    opacity: 0.8;
}